#ant specific
*/dist/
*/build/

#netbeans specific
!nbproject/project.properties
!nbproject/project.xml

#java specific
*.class

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
*.svn
server/Open_RSC_Server.jar
html/cache/*
!html/cache/.htaccess
/Tools/RSC Map Generator/build/
/Tools/RSC Map Generator/dist/
/Tools/RSC Map Generator/nbproject/private/
/Tools/Sprite Editor/build/
/Tools/Sprite Editor/dist/
Client/nbproject/private/private.properties
Launcher/nbproject/private/private.xml
Launcher/nbproject/private/private.properties
Server/nbproject/private/private.properties
