#ant specific
*/dist/
*/build/

#netbeans specific
core
*/nbproject/*
!nbproject/project.properties
!nbproject/project.xml

#java specific
*.class

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
*.svn
