\.DS_Store
.idea/

client/\.idea/
client/\.gradle/
client/build/
client/*.jar
client/out/

Launcher/Cache/
Launcher/.idea/
Launcher/*.jar
Launcher/out/

server/avatars/
server/*.jar
server/.gradle/
server/.idea/
server/build/
server/out/

db/

Tools/RSC Map Generator/dist/
Tools/Sprite Editor/unpack/
Tools/Sprite Editor/spriteeditor.jar
Tools/Sprite Editor/nbproject/
Tools/RSC Map Generator/map.png

build/
Website/

etc/nginx/logs/*.log
etc/logs/mariadb/*
!etc/logs/mariadb/.gitsave
gameserver.log

Client/Cache/client\.properties
