<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- Set which ID the master fisher gives out when it's F2P Wilderness -->
	<entry key="f2p_free_fish_id">359</entry>
	
        <!-- Set which ID the master fisher gives out when it's P2P Wilderness -->
	<entry key="p2p_free_fish_id">357</entry>
	
        <!-- The amount to multiply the generated runes by -->
	<entry key="runecrafting_amount_multiplier">1</entry>
	
        <!-- The number of milliseconds of heads-up notice that the clients receive before a shutdown -->
	<entry key="shutdown_time_millis">60000</entry>
	
        <!-- Avatar Save Path -->
	<entry key="avatar_dir">avatars/</entry>
        
        <!-- Server connection -->
	<entry key="version">7</entry>
	<entry key="ip">0.0.0.0</entry>
	<entry key="port">53595</entry>
	<entry key="webport">53594</entry>	
        
        <!-- Database connection -->
	<entry key="dbhost">127.0.0.1</entry>
	<entry key="dbname">openrsc</entry>
	<entry key="dblogin">root</entry>
	<entry key="dbpass">malware</entry>
        
        <!-- Database names -->
	<entry key="configdbname">openrsc_config</entry>
	<entry key="logdbname">openrsc_logs</entry>
	<entry key="toolsdbname">openrsc_tools</entry>
	
        <!-- Combat Skills -->
	<entry key="combat_xp">1</entry>
	<entry key="combat_xp_sub">1</entry>
	
        <!-- Skilling -->
	<entry key="skill_xp">1</entry>
	<entry key="skill_xp_sub">1</entry>
	
        <!-- Miscellaneous -->
	<entry key="wild_xp_bonus">1</entry>
	<entry key="skulled_xp_bonus">1</entry>	
	<entry key="f2pwilderness">false</entry>
</properties>